<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Net.DontEnableSystemDefaultTlsVersions=false"/>
    <gcAllowVeryLargeObjects enabled="true"/>
    <generatePublisherEvidence enabled="false"/>  
    <loadFromRemoteSources enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PCB-Investigator" publicKeyToken="0d90fb8168316e68" culture="neutral"/>
        <!-- Assembly versions can be redirected in application, publisher policy, or machine configuration files. -->
        <bindingRedirect oldVersion="3.4.0.0-10.9.9.99" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <probing privatePath="PlugIn;AddIn;resources"/> <!-- use plug-ins as references-->
    </assemblyBinding>
  </runtime>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
</configuration>
